.nav-item:hover{
    box-shadow: 2px 3px 10px 5px var(--backgroundColor);
    transition-duration: 0.5s;
}
.nav-item:active{
    border: 2px inset rgb(255, 246, 246);
}
.navbar{

    margin: 10px;
    border: 3px outset var(--backgroundColor);
    border-radius: 10px;
}
.nav-item{
    font-size: 1.2em;
    border-radius: 10px;
    
}

.navbar-brand{
    padding: 10px;
    text-decoration: underline;
    font-weight: bold;
    border-radius: 10px;
    
}
.navbar-brand:hover{
    box-shadow: 2px 3px 10px 5px var(--backgroundColor);
    transition-duration: 0.5s;
}

.navbar-toggler{
    border: 2px outset rgb(255, 246, 246);
}
